.nav {
  grid-area: nav;
  background-color: palevioletred;
  padding: 20px;
}

.item {
  color: white;
  text-decoration: none;
}

<<<<<<< HEAD
.active {
=======
.activeLink {
>>>>>>> dialogs
  color: gold;
  text-decoration: none;
}