.dialogs {
    display: grid;
    grid-template-columns: 2fr 5fr 5fr;
}

.dialogsItems {
    padding: 10px;
}

.dialogsItems .active {
    color: gold;
}

.dialog {
    color: white;
}

.messages {
    padding: 10px;
    
}

.message {
    color: white;

}

.dialogImage {
    width: 70px;
    height: 70px;
}

.dialogsImage {
    width: 70px;
    height: 70px;

}